<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Неверные данные</title>
    <style>
        p {
            padding-top: 35%;
            margin-top:0;
            font-size: 20px;
        }
        body{
            margin:0;
            padding: 0;
            background-color: #ffffff;
        }
        .container{
            height: 100vh;
            /*background-color: #fff68f;*/
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container">
    <p>Вы не правильно ввели логин или пароль! Вернитесь обратно на страницу <a th:href="@{/login}"> входа </a></p>
</div>
</body>
</html>